/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

*,
*::after,
*::before{
  margin:0;
  padding:0;
  box-sizing:inherit;
}
html{
  font-size:62.5%;
  box-sizing:border-box;
}
body{
  font-size:1.6rem;
  line-height:1.7;
  font-family:'Roboto', sans-serif;
  background:#000;
  // background-image: linear-gradient(to right bottom,#E70B94,rgba(130,87,230,0.61));
  height: 100vh;
  color:#fff;
}